<div id="<%= dom_id habit_entry %>">
  <p>
    <strong>Habit:</strong>
    <%= habit_entry.habit_id %>
  </p>

  <p>
    <strong>Entry date:</strong>
    <%= habit_entry.entry_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= habit_entry.status %>
  </p>

</div>
