<% if @breadcrumbs.present? %>
  <nav aria-label="breadcrumb" class="text-light">
    <ol class="breadcrumb">
      <% @breadcrumbs.each do |breadcrumb| %>
        <% if breadcrumb == @breadcrumbs.last %>
          <li class="breadcrumb-item active text-light" aria-current="page">
            <%= breadcrumb.fetch(:content) %>
          </li>
        <% else %>
          <li class="breadcrumb-item text-body">
            <%= link_to breadcrumb.fetch(:content), breadcrumb[:href], class: 'text-light' %>
          </li>
        <% end %>
      <% end %>
    </ol>
  </nav>
<% end %>
