<section aria-labelledby="how-to-use-heading">
  <div class="container">
    <div class="heading mt-5">
      <h2 id="how-to-use-heading">How to use HabitBuddy</h2>
      <h4 class="text-body">It is actually pretty simple.</h4>
    </div>

    <div class="row no-gutters mb-5">
      <div class="col-lg-4 box" role="article" aria-labelledby="step-one-heading">
        <img src="<%= asset_path 'number-one.png' %>" alt="Number one icon">
        <h4 id="step-one-heading" class="text-primary">Create an Account</h4>
      </div>

      <div class="col-lg-4 box featured" role="article" aria-labelledby="step-two-heading">
        <img src="<%= asset_path 'number-two.png' %>" alt="Number two icon">
        <h4 id="step-two-heading" class="text-primary">Add your Habits</h4>
      </div>

      <div class="col-lg-4 box" role="article" aria-labelledby="step-three-heading">
        <img src="<%= asset_path 'number-three.png' %>" alt="Number three icon">
        <h4 id="step-three-heading" class="text-primary">Record Your Progress</h4>
      </div>
    </div>
  </div>
</section>
