<section aria-labelledby="testimonials-heading">
  <div class="container">
    <div class="testimonials-header mt-5">
      <h2 id="testimonials-heading">Testimonials</h2>
    </div>

    <div class="testimonials">
      <div class="testimonial-item" role="article" aria-labelledby="testimonial-one-heading">
        <img src="<%= asset_path 'peep-one.png' %>" alt="Araceli H.">
        <h3 id="testimonial-one-heading">Araceli H.</h3>
        <h4 class="text-primary">CEO &amp; Founder</h4>
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left" aria-hidden="true"></i>
          I've tried many habit tracker apps, but HabitBuddy stands out with its clean design and intuitive interface. The streak feature gives me a clear picture of my progress!
          <i class="bx bxs-quote-alt-right quote-icon-right" aria-hidden="true"></i>
        </p>
      </div>

      <div class="testimonial-item" role="article" aria-labelledby="testimonial-two-heading">
        <img src="<%= asset_path 'peep-two.png' %>" alt="Lorenzo H.P.">
        <h3 id="testimonial-two-heading">Lorenzo H.P.</h3>
        <h4 class="text-primary">Student</h4>
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left" aria-hidden="true"></i>
          As someone who struggles with consistency, HabitBuddy has been a game-changer. I appreciate how it celebrates even the smallest amount of progress to keep people motivated. It's an essential tool for anyone serious about self-improvement.
          <i class="bx bxs-quote-alt-right quote-icon-right" aria-hidden="true"></i>
        </p>
      </div>
    </div>
  </div>
</section>
