<div id="<%= dom_id habit %>">
  <p>
    <strong>Name:</strong>
    <%= habit.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= habit.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= habit.start_date.strftime("%m-%d-%Y") %>
  </p>

</div>
