<div id="<%= dom_id habit %>">
  <h2>

    <strong><%= habit.name %></strong>
  </h2>

<br>

  <h4>

    <%= habit.description %>
  </h4>
<br>
  <h6>
    Start date:
    <%= habit.start_date.strftime("%m-%d-%Y") %>
  </h6>

</div>
