<div class="container my-4">
  <h1 class="mb-4 text-center">Your Habits</h1>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" id="habits">
    <% @habits.each do |habit| %>
      <div class="col">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h5 class="card-title"><%= habit.name %></h5>
            <p class="card-text"><%= truncate(habit.description, length: 100) %></p>
            <%= link_to habit, class: 'btn btn-outline-primary' do %>
              <i class="fas fa-eye"></i> Show this habit
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mt-4">
    <%= link_to new_habit_path, class: 'btn btn-success' do %>
      <i class="fas fa-plus"></i> New Habit
    <% end %>
  </div>
</div>
